.text-dark-blue {
  color: #0E0A2E !important;
}

.text-color-body {
  color: #17171F !important;
}

.text-color-royal-blue {
  color: #0436ED !important;
}

.text-color-peach {
  color: #C82B51 !important;
}

.text-color-pending {
  color: #FA6400 !important;
}

.text-color-accepted {
  color: #4D8611 !important;
}

.text-color-success-pink {
  color: #FF448B !important;
}

.font-family-infra-bold {
  font-family: "InfraBold";
  font-weight: bold;
  font-style: normal;
}

.font-family-infra-black {
  font-family: "InfraBlack";
  font-weight: 900;
  font-style: normal;
}

.font-family-infra-black-italic {
  font-family: "InfraBlackItalic";
  font-weight: 900;
  font-style: italic;
}

.font-family-infra-bold-italic {
  font-family: "InfraBoldItalic";
  font-weight: bold;
  font-style: italic;
}

.font-family-infra-extra-bold {
  font-family: "InfraExtraBold";
  font-weight: 800;
  font-style: normal;
}

.font-family-infra-extra-bold-italic {
  font-family: "InfraExtraBoldItalic";
  font-weight: 800;
  font-style: italic;
}

.font-family-infra-extra-light {
  font-family: "InfraExtraLightItalic";
  font-weight: 200;
  font-style: italic;
}

.font-family-infra-hairline {
  font-family: "InfraHairline";
  font-weight: normal;
  font-style: normal;
}

.font-family-infra-hairline-italic {
  font-family: "InfraHairlineItalic";
  font-weight: normal;
  font-style: italic;
}

.font-family-infra-medium {
  font-family: "InfraMedium";
  font-weight: 500;
  font-style: normal;
}

.font-family-infra-light-italic {
  font-family: "InfraLightItalic";
  font-weight: 300;
  font-style: italic;
}

.font-family-infra-light {
  font-family: "InfraLight";
  font-weight: 300;
  font-style: normal;
}

.font-family-infra {
  font-family: "Infra";
  font-weight: normal;
  font-style: normal;
}

.font-family-infra-medium-italic {
  font-family: "InfraMediumItalic";
  font-weight: 500;
  font-style: italic;
}

.font-family-infra-regular-italic {
  font-family: "InfraRegularItalic";
  font-weight: normal;
  font-style: italic;
}

.font-family-infra-semibold {
  font-family: "InfraSemiBold";
  font-weight: 600;
  font-style: normal;
}

.font-family-infra-semibold-italic {
  font-family: "InfraSemiBoldItalic";
  font-weight: 600;
  font-style: italic;
}

.font-family-infra-thin {
  font-family: "InfraThin";
  font-weight: 100;
  font-style: normal;
}

.font-family-infra-thin-italic {
  font-family: "InfraThinItalic";
  font-weight: 100;
  font-style: italic;
}

.font-family-bs-semibold-italic {
  font-family: "BSSemiBoldItalic";
  font-weight: 600;
  font-style: italic;
}

.font-family-bs-bold {
  font-family: "BSBold";
  font-weight: bold;
  font-style: normal;
}

.font-family-bs-medium {
  font-family: "BSMedium";
  font-weight: 500;
  font-style: normal;
}

.font-family-bs-regular {
  font-family: "BSRegular";
  font-weight: normal;
  font-style: normal;
}

.font-family-bs-semibold {
  font-family: "BSSemiBold";
  font-weight: 600;
  font-style: normal;
}

.font-family-bs-bold-italic {
  font-family: "BSBoldItalic";
  font-weight: bold;
  font-style: italic;
}

.font-family-bs-medium-italic {
  font-family: "BSMediumItalic";
  font-weight: 500;
  font-style: italic;
}

.font-family-bs-regular-italic {
  font-family: "BSRegularItalic";
  font-weight: normal;
  font-style: italic;
}

.font-size-38 {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .font-size-38 {
    font-size: calc(18px + 20 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-38 {
    font-size: 38px;
  }
}

.font-size-20 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .font-size-20 {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-20 {
    font-size: 20px;
  }
}

.font-size-18 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .font-size-18 {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-18 {
    font-size: 18px;
  }
}

.sticked {
  box-shadow: 0px 0.5px 6px #E5E5E5;
}

.hero {
  background-image: url(../images/hero-header-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.hero h1 {
  line-height: 145%;
}
.hero h1 {
  font-size: 34px;
}
@media screen and (min-width: 320px) {
  .hero h1 {
    font-size: calc(34px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .hero h1 {
    font-size: 42px;
  }
}
.hero p {
  color: #17171F;
  line-height: 150%;
}
.hero p {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .hero p {
    font-size: calc(18px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .hero p {
    font-size: 20px;
  }
}

.nav-item.active .nav-link {
  color: #C82B51 !important;
}

.nav-link {
  font-family: "BSRegular";
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  color: #090928;
}
.nav-link {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .nav-link {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .nav-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.85rem;
    padding-left: 0.85rem;
  }
}

.field-holder {
  position: relative;
}
.field-holder .bas-field {
  background: #F6F5FA;
  border: none;
}
.field-holder .sbmitbtn {
  position: absolute;
  background: transparent;
  border: none;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.field-holder ::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #180A3D;
  opacity: 1;
  /* Firefox */
}
.field-holder :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #180A3D;
  opacity: 1;
  /* Firefox */
}
.field-holder ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #180A3D;
  opacity: 1;
  /* Firefox */
}
.field-holder :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #180A3D;
}
.field-holder ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #180A3D;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(79, 80, 108, 0.8);
  z-index: 1;
  display: none;
}
.overlay.shown {
  display: block;
}

.user-menu {
  z-index: 2;
  margin: 10px 0 20px 0;
  width: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  display: none;
}
.user-menu.shown {
  display: block;
}
@media screen and (min-width: 992px) {
  .user-menu {
    position: absolute;
    top: 65px;
    right: 0px;
    width: 380px;
  }
}
.user-menu:before {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #fff;
  content: "";
  top: -15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (min-width: 992px) {
  .user-menu:before {
    top: -15px;
    right: -25px;
    left: auto;
  }
}
.user-menu .user-menu-head {
  background: #fff;
  padding: 24px;
  border-radius: 4px 4px 0px 0px;
}
.user-menu .user-menu-head img {
  border-radius: 50%;
  border: 2px solid #FE438A;
}
.user-menu .user-menu-head h5 {
  color: #0E0A2E;
}
.user-menu .user-menu-head h5 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .user-menu .user-menu-head h5 {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .user-menu .user-menu-head h5 {
    font-size: 18px;
  }
}
.user-menu .user-menu-head p {
  color: #9FACC8;
}
.user-menu .user-menu-head p {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  .user-menu .user-menu-head p {
    font-size: calc(10px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .user-menu .user-menu-head p {
    font-size: 12px;
  }
}
.user-menu .user-menu-body {
  background: #F6F5FA;
  padding: 24px;
  border-radius: 0px 0px 4px 4px;
}
.user-menu .user-menu-body ul li {
  margin-bottom: 20px;
}
.user-menu .user-menu-body ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-menu .user-menu-body ul li a:hover span {
  color: #C60D50;
}
.user-menu .user-menu-body ul li a span {
  color: #0E0A2E;
}
.user-menu .user-menu-body ul li a span {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .user-menu .user-menu-body ul li a span {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .user-menu .user-menu-body ul li a span {
    font-size: 14px;
  }
}

.modal {
  background: rgba(79, 80, 108, 0.8);
}
@media screen and (min-width: 676px) {
  .modal .modal-dialog.modal-md {
    max-width: 597px;
  }
}
.modal .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 0px;
  border: none;
}
.modal .modal-content .modal-body {
  padding: 0;
}
.modal .modal-content .modal-body .content-sec {
  border: 1px solid #BFC5D8;
  border-radius: 6px;
  padding: 20px 40px;
}
.modal .modal-content .modal-body .content-sec h6 {
  color: #0E0A2E;
}
.modal .modal-content .modal-body .content-sec h6 {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .modal .modal-content .modal-body .content-sec h6 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .modal .modal-content .modal-body .content-sec h6 {
    font-size: 24px;
  }
}
.modal .modal-content .modal-body .content-sec h5 {
  color: #0E0A2E;
}
.modal .modal-content .modal-body .content-sec h5 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .modal .modal-content .modal-body .content-sec h5 {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .modal .modal-content .modal-body .content-sec h5 {
    font-size: 20px;
  }
}
.modal .modal-content .modal-body .content-sec .earning-sum {
  color: #0436ED;
}
.modal .modal-content .modal-body .content-sec .earning-sum {
  font-size: 24px;
}
@media screen and (min-width: 320px) {
  .modal .modal-content .modal-body .content-sec .earning-sum {
    font-size: calc(24px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .modal .modal-content .modal-body .content-sec .earning-sum {
    font-size: 32px;
  }
}
.modal .close-modal {
  position: absolute;
  top: -15px;
  right: 0px;
}
@media screen and (min-width: 768px) {
  .modal .close-modal {
    right: -10px;
  }
}

.simple-sec-padding {
  padding: 45px 0;
}
@media screen and (min-width: 768px) {
  .simple-sec-padding {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  .simple-sec-padding {
    padding: 90px 0;
  }
}

.font-size-sec-heading {
  font-size: 24px;
}
@media screen and (min-width: 320px) {
  .font-size-sec-heading {
    font-size: calc(24px + 16 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-sec-heading {
    font-size: 40px;
  }
}

.bg-light-purple {
  background-color: #F6F5FA !important;
}

.nft-card {
  background: #fff;
  border: 1px solid #17171F;
  border-radius: 6px;
}
.nft-card.selectable {
  cursor: pointer;
}
.nft-card.selectable.selected {
  border: 1px solid #C82B51;
  box-shadow: 0px 3px 6px rgba(198, 13, 80, 0.25);
}
.nft-card.selectable.selected .nft-card-head {
  border-bottom: 1px solid #C82B51;
}
.nft-card.selectable.selected .nft-card-footer {
  border-top: 1px solid #C82B51;
}
.nft-card .nft-card-head {
  padding: 16px;
  border-bottom: 1px solid #17171F;
}
.nft-card .nft-card-head a {
  color: #17171F;
}
.nft-card .nft-card-head a:hover {
  color: #C60D50;
  text-decoration: none;
}
.nft-card .nft-card-body img {
  max-height: 396.66px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nft-card .nft-card-footer {
  border-top: 1px solid #17171F;
  padding: 16px;
}
.nft-card .nft-card-footer a {
  color: #17171F;
}
.nft-card .nft-card-footer a h3 {
  color: #17171F;
}
.nft-card .nft-card-footer a h3 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .nft-card .nft-card-footer a h3 {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .nft-card .nft-card-footer a h3 {
    font-size: 18px;
  }
}
.nft-card .nft-card-footer a:hover {
  color: #C60D50;
  text-decoration: none;
}
.nft-card .nft-card-footer a:hover h3 {
  color: #C60D50;
}
.nft-card .nft-card-footer .meta-price {
  color: #005C3A;
}
.nft-card .nft-card-footer .meta-price {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .nft-card .nft-card-footer .meta-price {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .nft-card .nft-card-footer .meta-price {
    font-size: 14px;
  }
}
.nft-card .nft-card-footer .meta-cat {
  color: #00102A;
}
.nft-card .nft-card-footer .meta-cat {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .nft-card .nft-card-footer .meta-cat {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .nft-card .nft-card-footer .meta-cat {
    font-size: 14px;
  }
}
.nft-card .audio-player {
  border-radius: 0;
  max-width: 396.66px;
  box-shadow: none;
  height: 100%;
}
.nft-card .audio-player .controls {
  transform: translateY(2px);
}

.text-color-808080 {
  color: #808080 !important;
}

.text-color-black {
  color: #000 !important;
}

.has-sidebar .nft-card-footer {
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .has-sidebar .nft-card-footer {
    padding: 16px;
  }
}

.color-white-on-hover:hover {
  color: #fff;
}

.filterbox .filterhead {
  cursor: pointer;
}
.filterbox .filterhead span {
  width: 80%;
  display: block;
  color: #17171F;
}
.filterbox .filterhead span {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .filterbox .filterhead span {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .filterbox .filterhead span {
    font-size: 16px;
  }
}
.filterbox .filterhead svg {
  width: 20%;
  display: block;
}
.filterbox .filterhead:hover {
  background: #C60D50 !important;
}
.filterbox .filterhead:hover span {
  color: #fff;
}
.filterbox .filterhead:hover svg {
  color: #fff !important;
}
.filterbox .filterbody .accordion .card {
  border: none !important;
  margin-bottom: 0px !important;
}
.filterbox .filterbody .accordion .card .card-header {
  border-top: 1px solid #DADEE7 !important;
  border-bottom: 1px solid #DADEE7 !important;
}
.filterbox .filterbody .accordion .card .card-header h2 {
  color: #17171F;
}
.filterbox .filterbody .accordion .card .card-header h2 {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .filterbox .filterbody .accordion .card .card-header h2 {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .filterbox .filterbody .accordion .card .card-header h2 {
    font-size: 18px;
  }
}
.filterbox .filterbody .accordion .card .card-header button span {
  display: block;
  width: 85%;
}
.filterbox .filterbody .accordion .card .card-header button svg {
  width: 15%;
  display: block;
}
.filterbox .filterbody .accordion .card .card-header button:not(.collapsed) {
  background: transparent !important;
}
.filterbox .filterbody .accordion .card .card-header button:not(.collapsed) svg {
  transform: rotate(180deg) !important;
}
.filterbox .filterbody .accordion .card .card-header button:hover {
  background: transparent !important;
}
.filterbox .btn-outline-cta-peach {
  padding: 10px;
}
.filterbox .btn-outline-cta-peach {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .filterbox .btn-outline-cta-peach {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .filterbox .btn-outline-cta-peach {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .filterbox .btn-outline-cta-peach {
    width: 100%;
  }
}
.filterbox .form-group {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
}
.filterbox .form-group .checkboxf {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #17171F;
}
.filterbox .form-group .checkboxf {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .filterbox .form-group .checkboxf {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .filterbox .form-group .checkboxf {
    font-size: 16px;
  }
}
.filterbox .form-group .checkboxf input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.filterbox .form-group .checkmark {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #CCCCCC;
  border-radius: 5px;
}
.filterbox .form-group .checkboxf:hover input ~ .checkmark {
  background-color: #ccc;
}
.filterbox .form-group .checkboxf input:checked ~ .checkmark {
  background-color: #0436ED;
}

.btn-royal-blue {
  background-color: #0436ED;
  border-color: #0436ED;
}
.btn-royal-blue:hover {
  background-color: transparent;
  color: #0436ed;
}

.result-count {
  color: #0E0A2E;
}
.result-count {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .result-count {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .result-count {
    font-size: 24px;
  }
}

.bas-peach-field {
  border: 2.5px solid #C82B51;
  padding: 10px;
  height: auto;
  color: #C82B51;
}
.bas-peach-field {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .bas-peach-field {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .bas-peach-field {
    font-size: 14px;
  }
}

.text-color-light-purple {
  color: #84859A !important;
}

.font-size-12 {
  font-size: 11px;
}
@media screen and (min-width: 320px) {
  .font-size-12 {
    font-size: calc(11px + 1 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-12 {
    font-size: 12px;
  }
}

.font-size-14 {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .font-size-14 {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-14 {
    font-size: 14px;
  }
}

.font-size-24 {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  .font-size-24 {
    font-size: calc(10px + 14 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-24 {
    font-size: 24px;
  }
}

.font-size-42 {
  font-size: 35px;
}
@media screen and (min-width: 320px) {
  .font-size-42 {
    font-size: calc(35px + 7 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-42 {
    font-size: 42px;
  }
}

.separator {
  width: 100%;
  height: 2px;
  background: #DADEE7;
}

.text-color-peach {
  color: #C60D50 !important;
}

.userpill .userpill-right a:hover {
  color: #C60D50 !important;
  text-decoration: none;
}

.text-color-121212 {
  color: #121212;
}

.transaction-table {
  border: 1px solid #0E0A2E;
}
.transaction-table .transaction-table-head h3 {
  color: #121212;
  border-bottom: 1px solid #4F506C;
}
.transaction-table .transaction-table-head h3 {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .transaction-table .transaction-table-head h3 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .transaction-table .transaction-table-head h3 {
    font-size: 24px;
  }
}
.transaction-table .transaction-table-body table {
  margin-bottom: 0px !important;
}
.transaction-table .transaction-table-body table tr:last-child td {
  border-bottom: 0px !important;
}
.transaction-table .transaction-table-body table tr:hover td:not(.claimed) {
  background-color: #D4DFFB !important;
}
.transaction-table .transaction-table-body table th {
  border-top: none !important;
  border-bottom: 1px solid #4F506C !important;
}
.transaction-table .transaction-table-body table td {
  border-bottom: 1px solid #4F506C !important;
}
.transaction-table .transaction-table-body table td.sold {
  background-color: #D4DFFB !important;
}
.transaction-table .transaction-table-body table td.claimed {
  background-color: #092380 !important;
}
.transaction-table .transaction-table-body table td.border-l-r {
  border: 0px 1px 0px 1px !important;
  border: 1px solid #D4DFFB !important;
}
.transaction-table .transaction-table-body table td.accept {
  position: relative;
  border: 1px solid #C82B51 !important;
}
.transaction-table .transaction-table-body table td.accept.withdrawn {
  border-right: none !important;
}
.transaction-table .transaction-table-body table td.accept a {
  color: #C82B51;
}
.transaction-table .transaction-table-body table td.accept a:hover {
  color: #C82B51;
  text-decoration: none;
}
.transaction-table .transaction-table-body table td.accept::before {
  position: absolute;
  top: 0px;
  height: 1px;
  background: #C82B51;
  width: 100%;
  content: "";
  left: 0;
  transform: translate(0px, -1px);
}
.transaction-table .transaction-table-body table td.edit-td {
  position: relative;
  border: 1px solid #547CEC !important;
}
.transaction-table .transaction-table-body table td.edit-td a {
  color: #547CEC;
}
.transaction-table .transaction-table-body table td.edit-td a:hover {
  color: #547CEC;
  text-decoration: none;
}
.transaction-table .transaction-table-body table td.edit-td::before {
  position: absolute;
  top: 0px;
  height: 1px;
  background: #547CEC;
  width: 100%;
  content: "";
  left: 0;
  transform: translate(0px, -1px);
}
.transaction-table .transaction-table-body table td a {
  color: #17171F;
}
.transaction-table .transaction-table-body table td a:hover {
  color: #17171F;
  text-decoration: none;
}

.cart-table td {
  vertical-align: middle;
}
.cart-table td {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .cart-table td {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .cart-table td {
    font-size: 24px;
  }
}
.cart-table td .remove-cart-item {
  width: 20px;
  height: 20px;
  background-color: #84859B;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.cart-table th {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .cart-table th {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .cart-table th {
    font-size: 24px;
  }
}
.cart-table .cart-item h5 {
  color: #84859A !important;
}
.cart-table .cart-item h5 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .cart-table .cart-item h5 {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .cart-table .cart-item h5 {
    font-size: 20px;
  }
}

.inner-hero {
  background-image: url(../images/inner-hero-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .inner-hero {
    min-height: 343px;
  }
}

.nav-tabs {
  border-bottom: 0px;
}
.nav-tabs .nav-item .nav-link {
  border-radius: 0px;
}
.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 6px;
}
.nav-tabs .nav-item:last-child .nav-link {
  border-top-right-radius: 6px;
}
.nav-tabs .nav-item .nav-link {
  background: #F6F5FA;
  color: #0E0A2E;
  font-family: "InfraMedium";
  border: none;
  padding: 0.9rem 1.8rem;
}
.nav-tabs .nav-item .nav-link {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .nav-tabs .nav-item .nav-link {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .nav-tabs .nav-item .nav-link {
    font-size: 20px;
  }
}
.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link.active {
  border: none;
  background: #0436ED;
  color: #fff;
}

.priceform {
  position: relative;
}
.priceform .edit-price-form {
  position: absolute;
  right: 0;
  top: 0;
}
.priceform span {
  display: block;
}
.priceform form {
  display: none;
}
.priceform .edit-price-form svg {
  display: none;
}
.priceform .edit-price-form svg:first-child {
  display: block;
}
.priceform.shown span {
  display: none;
}
.priceform.shown .form {
  display: block;
}
.priceform.shown .edit-price-form svg {
  display: block;
}
.priceform.shown .edit-price-form svg:first-child {
  display: none;
}

.bas-form label {
  text-transform: capitalize;
  color: #010101;
  font-family: "InfraMedium";
  font-weight: 500;
  font-style: normal;
}
.bas-form label {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .bas-form label {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .bas-form label {
    font-size: 14px;
  }
}
.bas-form label.label-with-instructions {
  display: flex;
  align-items: center;
}
.bas-form input.form-control,
.bas-form select.form-control {
  background-color: #F6F5FA !important;
  border-radius: 3px !important;
  border: none !important;
  height: 56px !important;
  padding: 16px !important;
  color: #090928 !important;
  font-family: "BSMedium";
  font-weight: 500;
  font-style: normal;
}
.bas-form input.form-control,
.bas-form select.form-control {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .bas-form input.form-control,
.bas-form select.form-control {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .bas-form input.form-control,
.bas-form select.form-control {
    font-size: 14px;
  }
}
.bas-form .form-bar-cnt {
  background-color: #F6F5FA !important;
  border-radius: 3px !important;
  height: 56px !important;
  padding: 16px !important;
  display: flex;
  align-items: center;
}
.bas-form .radio-btn-cnt label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}
.bas-form .radio-btn-cnt input[type=radio] {
  width: 0;
  height: 0;
  opacity: 0;
}
.bas-form .radio-btn-cnt input[type=radio]:checked + .radio-illus {
  background-color: #C82B51;
}
.bas-form .radio-btn-cnt .radio-illus {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #000000;
  display: block;
  margin-right: 0.5rem;
}
.bas-form .checkbox-cnt {
  width: 100%;
}
.bas-form .checkbox-cnt label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bas-form .checkbox-cnt input[type=checkbox] {
  width: 0;
  height: 0;
  opacity: 0;
}
.bas-form .checkbox-cnt input[type=checkbox]:checked + .check-illus {
  background-color: #C82B51;
}
.bas-form .checkbox-cnt .check-illus {
  width: 32px;
  height: 16px;
  border-radius: 10px;
  background-color: #000000;
  display: block;
  margin-left: auto;
}
.bas-form textarea {
  background-color: #F6F5FA !important;
  border-radius: 3px !important;
  border: none !important;
  height: auto !important;
  padding: 16px !important;
  color: #090928 !important;
  font-family: "BSMedium";
  font-weight: 500;
  font-style: normal;
}
.bas-form textarea {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .bas-form textarea {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .bas-form textarea {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .bas-form textarea {
    height: 210px !important;
  }
}
.bas-form .instructions {
  color: #84859A;
}
.bas-form .uploadbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3px;
  min-height: 318px;
  cursor: pointer;
  flex-direction: column;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.bas-form .uploadbox p {
  color: #2E323D;
  font-family: "BSRegular";
  font-weight: normal;
  font-style: normal;
}
.bas-form .uploadbox p {
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  .bas-form .uploadbox p {
    font-size: calc(20px + 4 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .bas-form .uploadbox p {
    font-size: 24px;
  }
}
.bas-form .uploadbox.small {
  min-height: 200px;
}
.bas-form .appendmore .appendit {
  position: absolute;
  left: -45px;
  top: 35px;
}
.bas-form .appendmore .appendit:hover svg {
  color: #C82B51 !important;
}
.bas-form .appendmore .appendit.to-remove {
  left: -35px;
}

.bas-box {
  background: #F6F5FA;
  border: 1px solid #17171F;
  border-radius: 6px;
  padding: 60px 35px;
}
@media screen and (min-width: 992px) {
  .bas-box {
    padding: 60px;
  }
}
.bas-box:hover h2 {
  color: #C82B51 !important;
}

.no-decoration {
  text-decoration: none;
}
.no-decoration:hover {
  text-decoration: none;
}

.accordion.how-it-works .card-header {
  background-color: #F6F5FA !important;
}
.accordion.how-it-works .card-header button {
  display: flex;
  align-items: center;
  width: 100%;
}
.accordion.how-it-works .card-header button svg {
  margin-left: auto;
}
.accordion.how-it-works .card-header button:not(.collapsed) svg {
  transform: rotate(180deg) !important;
}

.footer-menu {
  display: table;
  text-align: center;
  margin: 0 auto;
}
.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: #0E0A2E;
}
.footer-menu li a:hover {
  color: #C60D50;
}

/* audio player */
.audio-player {
  max-width: 350px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  font-family: arial;
  color: #fff;
  font-size: 1.25em;
  overflow: hidden;
  position: relative;
}
.audio-player .preview-thumb img {
  border-radius: 30px;
}
.audio-player .timeline {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -35px;
  left: 0;
  cursor: pointer;
}
.audio-player .timeline .progress {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  transition: 0.25s;
}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  background-color: #c60d51;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid #fff;
}
.audio-player .controls .toggle-play.play:hover {
  transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: #fff;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: #fff;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
  transform: scale(1.1);
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: coral;
  height: 100%;
  width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}/*# sourceMappingURL=main.css.map */